@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: Oswald;      /* Fonte página */
    margin: 0;
}

button, input {
    font-family: Oswald;   
}

h1 {
    text-align: center;       /* Ajustar cores, tamanhos, bordas da pag*/
    border: 1px solid rgb(0, 0, 0);
    background-color: #f5afaf;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
    margin: 0;
    margin-bottom: 20px;
}

fieldset {
    width: 50%;   /*bordinha dentro do rendimento do aluno */
    background-color: rgb(209, 209, 209); /* cor da tabela*/
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Sombra nas bordas*/
    margin: auto;   /* Margem */
    padding: 20px;
    padding-bottom: 7px;
}    

button {
    display: block; 
    margin: 25px auto;
    font-weight: bold; /* Negrito*/
    font-size: 16px;
}

p {         /* Paragráfo */
    border: 1px solid rgb(153, 153, 153);
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.5);
}
